[submodule "BacaPoint---Web-App-Pencatat-Riwayat-Bacaan-dengan-Sistem-Poin"]
	path = BacaPoint---Web-App-Pencatat-Riwayat-Bacaan-dengan-Sistem-Poin
	url = https://github.com/Cycoell/BacaPoint---Web-App-Pencatat-Riwayat-Bacaan-dengan-Sistem-Poin.git
